.home__alert,.transaction__card,.debts__card{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width:800px){
  .home__alert{
    flex-direction: column;
    gap: 30px;
  }
}
@media screen and (max-width:450px){
 .buttons__home{
   flex-direction: column;
   gap: 10px;
   align-items:flex-end;
   width: 100%;
 }
 .more__btn{
  margin-right: 0 !important;
 }
 .debts__card--btn,.transaction__card--btn{
  display: flex ;
  flex-direction: column;
  gap: 20px;
 }
}